<div class="row">
  <div class="col-md-6">
    <a class="btn btn-success" data-toggle="modal" data-backdrop="static" href="#add-modal"><i class="glyphicon glyphicon-plus"></i> Add Order</a>
  </div>
</div>

<div class="row">
  <% if !flash[:notice].blank? %>
      <div class="alert alert-success alert-dismissable">
        <a class="close" data-dismiss="alert">x</a>
        <i class="glyphicon glyphicon-info-sign"></i> <%= flash[:notice]  %>
      </div>
  <% end %>
</div>

<div class="row">
  <div class="col-md-12">
    <div class="w-box">
      <div class="w-box-header">
        <h3>Orders List</h3>
      </div>
      <div class="w-box-content">
        <div class="row">
          &nbsp;
        </div>
        <table class="table table-striped table-bordered table-hover" id="data-table">
          <thead>
          <tr>
            <th>ID</th>
            <th>Style</th>
            <th>Buyer</th>
            <th>Delivery Date</th>
            <th>Qty</th>
            <th>FOB</th>
            <th class="text-center" width="20%">Action</th>
          </tr>
          </thead>
          <tbody>
          <% i = 0 %>
          <% @orders.each do |order| %>
              <% i = i+1 %>
              <tr>
                <td><%= i  %></td>
                <td><%= image_tag("uploads/product_styles/#{order.product_style}/thumb/#{order.product_style}")  %></td>
                <td><%= order.buyer  %></td>
                <td><%= order.delivery_date  %></td>
                <td><%= order.qty  %></td>
                <td><%= number_to_currency(order.fob) %></td>
                <td class="text-center">
                  <a class="btn btn-primary"><i class="glyphicon glyphicon-eye-open"></i></a>
                  <a class="btn btn-warning"><i class="glyphicon glyphicon-edit"></i></a>
                  <a class="btn btn-danger"><i class="glyphicon glyphicon-remove"></i></a>
                </td>
              </tr>
          <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="add-modal">
  <div class="modal-dialog" style="width: 60%">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h3 class="modal-title">Add Order</h3>
      </div>
      <div class="modal-body">
        <%= form_for @order, url: {action: "create"}, html: {multipart: true} do |f| %>
            <%= f.hidden_field :compositions  %>
            <div class="formSep">
              <div class="row">
                <div class="col-sm-6">
                  <label>Buyer </label>
                  <%= f.collection_select(:buyer_id, Buyer.all, :id, :buyer_name, {}, {class: "form-control"})  %>
                </div>
                <div class="col-sm-6">
                  <label>Style </label>
                  <%= f.collection_select(:product_style_id, ProductStyle.all, :id, :style_name, {}, {class: "form-control"})  %>
                </div>
              </div>
            </div>
            <div class="formSep">
              <div class="row">
                <div class="col-sm-6">
                  <label>Order Date </label>
                  <%= f.text_field :order_date, class: "form-control inputmaskjs", placeholder: "Order Date"  %>
                </div>
                <div class="col-sm-6">
                  <label>Delivery Date </label>
                  <%= f.text_field :delivery_date, class: "form-control inputmaskjs", placeholder: "Order Date"  %>
                </div>
              </div>
            </div>
            <div class="formSep">
              <div class="row">
                <div class="col-sm-4">
                  <label>GG</label>
                  <%= f.text_field :gg, class: "form-control", placeholder: "GG"  %>
                </div>
                <div class="col-sm-4">
                  <label>Qty</label>
                  <%= f.text_field :qty, class: "form-control", placeholder: "Qty"  %>
                </div>
                <div class="col-sm-4">
                  <label>FOB</label>
                  <%= f.text_field :fob, class: "form-control", placeholder: "FOB"  %>
                </div>
              </div>
            </div>

            <div class="formSep bg-warning">
              <div class="row">
                <div class="col-sm-12">
                  <h3 class="heading">Composition</h3>
                </div>
                <div class="col-sm-3">
                  <label class="text-center">Name</label>
                  <input class="form-control" name="composition_name"  id="composition_name" type="text" placeholder="Name">
                </div>
                <div class="col-sm-3">
                  <label>Percentage</label>
                  <input class="form-control" name="composition_percentage" id="composition_percentage" type="number" placeholder="Percentage">
                </div>
                <div class="col-sm-2">
                  <label>Yarn Rate</label>
                  <input class="form-control" name="composition_yarn_rate" id="composition_yarn_rate" type="number" placeholder="Cost">
                </div>
                <div class="col-sm-2">
                  <label>Wastage(%)</label>
                  <input class="form-control" name="composition_wastage" id="composition_wastage" type="number" placeholder="Wastage">
                </div>
                <div class="col-sm-2">
                  <a class="btn btn-success" id="composition_plus"><i class="glyphicon glyphicon-plus"></i></a>
                  <a class="btn btn-primary" id="composition_refresh"><i class="glyphicon glyphicon-refresh"></i></a>
                </div>
                <div id="composition-div-group">
              </div>
            </div>
            </div>
            <div class="formSep">
              <div class="row">
                <div class="col-sm-3">
                  <label>Weight Per Dzn</label>
                  <%= f.text_field :weight_per_dzn, class: "form-control", placeholder: "Weight Per Dzn"  %>
                </div>
                <div class="col-sm-3">
                  <label>Qty Per Dzn</label>
                  <%= f.text_field :qty_per_dzn, class: "form-control", placeholder: "Qty Per Dzn"  %>
                </div>
                <div class="col-sm-3">
                  <label>Total Yarn Weight</label>
                  <%= f.text_field :total_yarn_weight, class: "form-control", placeholder: "Total Yarn Weight"  %>
                </div>
                <div class="col-sm-3">
                  <label>Total Yarn Cost</label>
                  <%= f.text_field :total_yarn_cost, class: "form-control", placeholder: "Total Yarn Cost"  %>
                </div>
              </div>
            </div>
            <div class="formSep">
              <div class="row">
                <div class="col-sm-3">
                  <label>Accessories Rate</label>
                  <%= f.text_field :acc_rate, class: "form-control", placeholder: "Accessories Rate"  %>
                </div>
                <div class="col-sm-3">
                  <label>Total Acc. Cost</label>
                  <%= f.text_field :total_acc_cost, class: "form-control", readonly:true, placeholder: "Total Acc. Cost"  %>
                </div>
                <div class="col-sm-3">
                  <label>Button Rate</label>
                  <%= f.text_field :btn_cost, class: "form-control", placeholder: "Button Rate"  %>
                </div>
                <div class="col-sm-3">
                  <label>Total Button Cost</label>
                  <%= f.text_field :total_btn_cost, class: "form-control", readonly:true, placeholder: "Total Btn Cost"  %>
                </div>
              </div>
            </div>
            <div class="formSep">
              <div class="row">
                <div class="col-sm-3">
                  <label>Zipper Rate</label>
                  <%= f.text_field :zipper_cost, class: "form-control", placeholder: "Zipper Rate"  %>
                </div>
                <div class="col-sm-3">
                  <label>Total Zipper Cost</label>
                  <%= f.text_field :total_zipper_cost, class: "form-control", readonly:true, placeholder: "Total Zipp. Cost"  %>
                </div>
                <div class="col-sm-3">
                  <label>Print Rate</label>
                  <%= f.text_field :print_cost, class: "form-control", placeholder: "Print Rate"  %>
                </div>
                <div class="col-sm-3">
                  <label>Total Print Cost</label>
                  <%= f.text_field :total_print_cost, class: "form-control", readonly:true, placeholder: "Total Prt. Cost"  %>
                </div>
              </div>
            </div>
            <div class="formSep">
              <div class="row">
                <div class="col-sm-3">
                  <label>Total FOB</label>
                  <%= f.text_field :total_fob, class: "form-control", readonly:true, placeholder: "Total FOB"  %>
                </div>
                <div class="col-sm-3">
                  <label>Total Cost</label>
                  <%= f.text_field :total_cost, class: "form-control", readonly:true, placeholder: "Total Cost"  %>
                </div>
                <div class="col-sm-3">
                  <label>Balance Amount</label>
                  <%= f.text_field :balance_amount, class: "form-control", readonly:true, placeholder: "Balance Amount"  %>
                </div>
                <div class="col-sm-3">
                  <label>Cost of Making</label>
                  <%= f.text_field :cost_of_making, class: "form-control", readonly:true, disabled:true, placeholder: "Cost of Making"  %>
                </div>
              </div>
            </div>
            <div class="modal-footer">
              <a class="btn btn-danger" data-dismiss="modal">Cancel</a>
              <%= submit_tag "Add Order", class: "btn btn-success" %>
            </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
